/Questao1/*.iml
/Questao1/.gradle
/Questao1/local.properties
/Questao1/.idea/workspace.xml
/Questao1/.idea/libraries
/Questao1/.DS_Store
/Questao1/build
/Questao1/captures
/Questao1/.externalNativeBuild

/Questao2/*.iml
/Questao2/.gradle
/Questao2/local.properties
/Questao2/.idea/workspace.xml
/Questao2/.idea/libraries
/Questao2/.DS_Store
/Questao2/build
/Questao2/captures
/Questao2/.externalNativeBuild

/Questao3/*.iml
/Questao3/.gradle
/Questao3/local.properties
/Questao3/.idea/workspace.xml
/Questao3/.idea/libraries
/Questao3/.DS_Store
/Questao3/build
/Questao3/captures
/Questao3/.externalNativeBuild


/Questao4/*.iml
/Questao4/.gradle
/Questao4/local.properties
/Questao4/.idea/workspace.xml
/Questao4/.idea/libraries
/Questao4/.DS_Store
/Questao4/build
/Questao4/captures
/Questao4/.externalNativeBuild


/Questao5/*.iml
/Questao5/.gradle
/Questao5/local.properties
/Questao5/.idea/workspace.xml
/Questao5/.idea/libraries
/Questao5/.DS_Store
/Questao5/build
/Questao5/captures
/Questao5/.externalNativeBuild